<div class="comment-card">
	<div class="card">
		<div class="card-block">
			<div class="row">
				<div class="col-md-2">
					<%= image_tag "defaultuser.png", size: "20x20", alt:"default image" %>
				</div>

				<div class="col-md-10">
					<div>
						<%= @comment %>
					</div>

					<div class="comment-attribution">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
