<nav class="navbar blog-masthead">
    <div class="container">
        <nav class="nav navbar-dark">
        	<%= link_to 'Zabrina Larson', root_path, class: 'navbar-brand' %>
            <%= nav_helper 'nav-link', 'span' %>
            <%= login_helper 'nav-link' %>
        </nav>
    </div>
</nav>
