<div class="blog-header">
    <div class="container">
        <h1 class="blog-title text-custom">Blog About It</h1>
        <p class="lead blog-description text-custom">Look around and see the  projects currently in production. Comming Soon to this area is commmenting for the articles that load in real time!</p>
        <span>
        	<%= link_to 'New Blog', new_blog_path, class:"btn btn-sm blog-btn" if logged_in?(:site_admin) %>	
        </span>

        <span>
            <%= link_to "Topics", topics_path, class:"btn btn-sm blog-btn" %>
            <%= link_to "Featured", blogs_path, class:"btn btn-sm blog-btn" %>
        </span>
    </div>
</div> 