<section class="jumbotron text-center"> 
  <div class="container">
    <h1 class="jumbotron-heading">Portfolio</h1>
    <p class="lead text-custom"> Below is a collection of websites built or in progress of being built. Feel free to check out my clients websites, it may help bring inspiration for features you may want in your own!</p>
    <p>
      <%= link_to 'Start your Website!', about_path, class: 'btn btn-custom' %>
      <%= link_to 'Check Out my Blog!', blogs_path, class: 'btn btn-custom' %>
    </p>
  </div>
</section>