<div class="app-card-container">
    <div class="card">
        <h1>Lets Work Together!</h1>

        <hr>

        <div class="row">
            <div class="col-md-6">
                <h3><u>Address</u></h3>
                
                <p>Orem Utah</p>
                
                <h3><u>Phone- Call or Text</u></h3>
                
                <p><%= number_to_phone "8015973165" %></p>
                
                <h3><u>Email</u></h3>
                
                <p>zatisfy@gmail.com</p>
                <p><a href="mailto:zatisfy@gmail.com?subject=Lets Work Together" "email me">Set up a Consultation</a></p>

                <p class="contact-outline">Please include in your initial email a description of what you are looking for, your price range, and your time frame. We will set up a consultation from there. </p>
            </div>
            
            <div class="col-md-6">
                <iframe src="https://www.google.com/maps/d/embed?mid=1xUFnD16eLN3yFo8bK3Xa1USTVzc&hl=en" width="450" height="480"></iframe>
            </div>
        </div>
    </div>
</div>
