@import "bootstrap";
@import "font-awesome";
@import "gritter";

@font-family{
  font-family: 'Bree Serif';
  src:font-url('BreeSerif-Regular.ttf');
}

@font-family{
  font-family: 'Oswald';
  src:font-url('Oswald-Regular.ttf');
}


/*
 * Globals
 */

@media (min-width: 48em) {
  html {
    font-size: 18px;
  }
}

body {
  font-family: "Bree Serif";
  color: #555;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-family: "Oswald";
  font-weight: normal;
  color: #333;
}


/*
 * Override Bootstrap's default container.
 */

.container {
  max-width: 60rem;
}


/*
 * Masthead for nav
 */

.blog-masthead {
  margin-bottom: 3rem;
  background-color: #428bca;
  -webkit-box-shadow: inset 0 -.1rem .25rem rgba(0,0,0,.1);
          box-shadow: inset 0 -.1rem .25rem rgba(0,0,0,.1);
}

/* Nav links */
.nav-link {
  position: relative;
  padding: 1rem;
  font-weight: 500;
  color: #cdddeb;
}
.nav-link:hover,
.nav-link:focus {
  color: #fff;
  background-color: transparent;
}

/* Active state gets a caret at the bottom */
.nav-link.active {
  color: #fff;
}
.nav-link.active:after {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -.3rem;
  vertical-align: middle;
  content: "";
  border-right: .3rem solid transparent;
  border-bottom: .3rem solid;
  border-left: .3rem solid transparent;
}


/*
 * Blog name and description
 */

.blog-header {
  padding-bottom: 1.25rem;
  margin-bottom: 2rem;
  background-color: #545b62e3;
}
.blog-title {
  margin-bottom: 0;
  font-size: 2rem;
  font-weight: normal;
}
.blog-description {
  font-size: 1.1rem;
  color: #999;
}

@media (min-width: 40em) {
  .blog-title {
    font-size: 3.5rem;
  }
}


/*
 * Main column and sidebar layout
 */

/* Sidebar modules for boxing content */
.sidebar-module {
  padding: 1rem;
  /*margin: 0 -1rem 1rem;*/
}
.sidebar-module-inset {
  padding: 1rem;
  background-color: #f5f5f5;
  border-radius: .25rem;
}
.sidebar-module-inset p:last-child,
.sidebar-module-inset ul:last-child,
.sidebar-module-inset ol:last-child {
  margin-bottom: 0;
}


/* Pagination */
.blog-pagination {
  margin-bottom: 4rem;
}
.blog-pagination > .btn {
  border-radius: 2rem;
}


/*
 * Blog posts
 */

.blog-post {
  margin-bottom: 4rem;
}
.blog-post-title {
  margin-bottom: .25rem;
  font-size: 2.5rem;
}
.blog-post-meta {
  margin-bottom: 1.25rem;
  color: black;
}


/*
 * Footer
 */

.blog-footer {
  margin-top: 1px;
  padding: 4px;
  color: #e8d7a9;
  text-align: center;
  background-color: #545b62e3;
  position: fixed;
  height: 50px;
  bottom: 0px;
  width: 100%;
}
.blog-footer p:last-child {
  margin-bottom: 0;
}

.blog-footer a {
  float: right;
  color: #e8d7a9;
  padding-right: 40px;
}

/*
 * Custom styles
 */

.social-links li {
  font-size: 2.5em;
  text-align: center;
}

.comment-card > .card {
  margin-top: 15px;
}

.comment-attribution {
  font-size: .8em;
  font-style: italic;
}

.breadcrumb-icon {
  margin-left: 5px;
  margin-right: 5px;
}

.blogcrumb {
  background-color: #545b62e3
}

.blogcrumb a {
  font-size: 1.25em;
  margin: 0px 10px 0px 10px;
  color: #9c7c38;
}

.blog-sidebar-source {
  margin-top: 20px;
}

.nav {
  color: black;
}

.blog-sidebar {
  float: right;
  position: sticky;
  margin-bottom: 60px;
}

.sidebar-module-inset {
  color: black;
  background-color: #9c7c38e8;
  border: 2px solid black;
  width: 200px;
  margin-bottom: 30px;
}

.sidebar-module a {
  color: black;
  text-align: center;
}

.blog-main a {
  color: black;
}

.blog-btn {
  background-color: #9c7c38;
  border: 2px solid black;
  font-family: 'Bree Serif';
  color: black;
  border-radius: 10px;
}

.custom-nav {
  margin: auto;
}

.parabackground {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background: image-url('goldbg.png') no-repeat;
  background-size: cover; 
}

.text-custom {
  color: #e8d7a9 !important;
}

.nav-box {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.container-nav {
  width: 100%;
}

.port {
  text-align: center;
} 

.blog-card {
  color: black;
  background-color: #9c7c38e8; 
  border: 2px solid black;
  font-family: 'Bree Serif';
  padding: 20px;
}

.comment-card {
  margin-top: 30px;
}

.btn-cus { 
  background-color: #008000;
  color: black;
  border: 2px solid black;
}

.cus-header {
  text-align: center;
  font-weight: bolder;
  font-family: 'Bree Serif';
  color: black
}