@import "bootstrap";
@import "jquery-ui";
@import "gritter";

@font-family{
  font-family: 'Bree Serif';
  src:font-url('BreeSerif-Regular.ttf');
}

@font-family{
  font-family: 'Oswald';
  src:font-url('Oswald-Regular.ttf');
}

body {
  min-height: 75rem; /* Can be removed; just added for demo purposes */
  font-family: 'Bree Serif';
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-family: "Oswald";
  }

.navbar {
  margin-bottom: 0;
}

.jumbotron {
  padding-top: 6rem;
  padding-bottom: 6rem;
  margin-bottom: 0;
  background-color: #545b62e3;
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
  color: #e8d7a9;
}

.jumbotron .container {
  max-width: 40rem;
}

.cover-container {
  margin-right: auto;
  margin-left: auto;
}

.app-nav {
  margin-left: 400px;
}

/* Padding for spacing */
.inner {
  padding: 2rem;
}


/*
 * Header
 */

.masthead {
  margin-bottom: 100px;
  position: fixed;
  top: 0;
}

.masthead-brand {
  margin-bottom: 0;
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: bold;
  color: black;
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255,255,255,.25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: gray;
  border-bottom-color: gray;
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}

.links {
  float: right;
}

.app-nav span {
  margin-left: 15px;
  margin-right: 15px;
  float: right;
}

.album {
  min-height: 50rem; /* Can be removed; just added for demo purposes */
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.card {
  float: left;
  width: 100%;
  padding: .75rem;
  margin-bottom: 2rem;
  border: 0;
  font-family: 'Bree Serif';
}

.card > img {
  margin-bottom: .75rem;
}

.card-text {
  font-size: 85%;
  font-family: 'Bree Serif';
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #545b62e3;
  bottom: 0px;
  position: fixed;
  width: 100%;
  padding-top: 40px;
  height: 30px;
  margin-top: 80;
}

footer p {
  margin-bottom: .25rem;
}

footer a {
  color: #e8d7a9;
  font-weight: bold;
  text-decoration: underline;
}

/*
*Custom Styles
*/

.portfolio-container {
  padding-top: 30px;
}

.nav {
  color: black;
  float: right;
  margin-right: 50px;
} 

.port {
  text-align: center;
}

.port-cards {
  color: black;
  background-color: #9c7c38e8;
  border: 2px solid black;
  font-family: 'Bree Serif';
}

.port-img {
  border: 2px solid black;
}

.port-titles a {
  color: black;
}

.parabackground {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background: image-url('goldbg.png') no-repeat;
  background-size: cover; 
}

.text-custom {
  color: #e8d7a9 !important;
}

.btn-custom {
  background-color: #9c7c38;
  border: 2px solid black;
  font-family: 'Bree Serif';
  color: black;
}

.show-cards {
  height:  420px;
  width: 300px;
}

.album .row {
  padding-bottom: 150px;
}

.port-footer {
  height: 30px;
}

.nav-box {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.container-nav {
  width: 100%;
}

.btn-cus { 
  background-color: #008000;
  color: black;
  border: 2px solid black;
}

.port-card-new {
  color: black;
  background-color: #9c7c38e8;
  border: 2px solid black;
  font-family: 'Bree Serif';
  padding: 20px;
  margin-top: 50px;
}

.new-card {
  text-align: center;
  font-weight: bolder;
  background-color: #9c7c38e8;
  font-family: 'Bree Serif';
}

.bottom-port {
  margin-bottom: 160px;
}